@font-face {
    font-family: Octava; /* Гарнитура шрифта */
    src: url(fonts/Octava_33442.ttf); /* Путь к файлу со шрифтом */
   }
.content h1,h2{text-align: center;}
/*↓шапка↓*/
.header{
    background: linear-gradient(#bee0ec, #aacbef, #81befd, #7eb8f7, #81befd, #aacbef, #bee0ec,white);
}
/*↓логотип↓*/
.header .logo-img{
    height: 200px;
    /*background: #3676b9;*/
    margin: 0 auto;
    line-height: 200px;
    text-align:center;
}
.header .logo-img img{
    width: 150px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}
/*↑логотип↑*/
/*↓заголовок↓*/
.header .title{
    height: 200px;
    line-height: 200px;
}
.header .title h1{
    width: 100%;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    /* text-align: center; */
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #b72504;
    font-family: Monotype Corsiva;
    text-shadow: 1px 1px 2px #ffffff, 0 0 1em #b7d9ed;
    font-size: 33px;

}
/*↑заголовок↑*/
.header .birds img{
    width: 200px;
}
    
    /*главное меню*/
    /*↓новые bootstrap↓*/
    .navbar{
        margin-top: 20px;
        background: #3676b9;
        border-top: 1px solid #bdbcbc;
        border-bottom: 1px solid #bdbcbc;
    }
    .navbar-default{
        /*margin-left: 20px;
        margin-right: 20px;*/
    }
    .navbar-default .navbar-nav > li > a{
        color: white;
        font-size: 18px;
    }
    .navbar-default, .navbar-default, .navbar-default,
    .navbar-default .navbar-nav > li > a:hover, .navbar-default 
    {
        /*color: #a94442;*/
        color: white;
    }
    .navbar-default .navbar-nav > .active > a:focus{
        /*color: black;*/
        color: white;
    }
    @media (max-width: 767px){
        .navbar-default .navbar-nav .open .dropdown-menu > li > a{
            color:white;
            font-size:1.2em;
            font-weight:bold;
        }
    }
    
    /*↑↓новые bootstrap↑*/
    /*главное меню*/

/*↑шапка↑*/
/*↓подвал↓*/
.footer{
    background: #3676b9;
    border-top: 1px solid #bdbcbc;
    border-bottom: 1px solid #bdbcbc;
    text-align: center;
    padding-top: 15px;
    margin-top: 20px;
    color: white;
}
.footer .contacts{
    position: relative;
    top: -5px;
}
.footer .contacts .contacts-icon {
    background: url(http://kursk-hope.ru/images/contacts_sprite_white.png) no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 2px;
}
.footer .contacts .contacts-icon.vk{
    width: 36px;
    background-position: -57px;
}
.footer .contacts .contacts-icon.youtube{
    width: 25px;
    background-position: 0px;
}
.footer .contacts .contacts-icon.email{
    background-position: -26px;
}
.footer a{
    color: white;
    font-weight: bold;
}
/*↑подвал↑*/