/*↓левый блок↓*/
.main .gallery{
margin-top: 20px;
}

.main .gallery img{
    width: 100%;
}
/*↑левый блок↑*/
/*↓правый блок↓*/
.main .video img{
    width: 100%;
}
.video-img:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.youtube-icon {
    position:absolute;
    top:50%;
    left:50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: -0.35em;
  background: url(/images/youtube-icon.png) center no-repeat;
    width: 68px;
    height: 48px;
        margin-left: -34px;
    margin-top: -24px;
}

.video-img {
  text-align: center;
}
/*↑правый блок↑*/
/*↓участники↓*/
.main .participants{
    /*border: 2px solid grey;*/
    /*padding: 10px;*/
}
.main .greeting-text{
    /*max-height: 340px;*/
    max-height: 433px;
    overflow: overlay;
    text-align: justify;
}
.main .greeting-text p{
    /*margin-right: 30px;*/
}
.main .greeting-text .greeting-title{
    color: #b72504;
    font-weight: bolder;
    text-align: center;
}
.main .greeting .greeting-text .row{
    margin:0;
}
.main .greeting-writer{
    color: #28598c;
    font-weight: bold;
    text-align: right;
}
.main .greeting-photo{
    max-height: 533px;
    overflow: hidden;
    text-align:center;
}
.main .greeting-photo img{
    width:80%;
}
.main .participants-video iframe{
    /*max-height: 400px;
    min-height: 250px;*/
}
.main .participants-video, .participants-children{
    margin-top: 20px;
}
.main .participants-children img{
    width: 100%;
}
/*.participants-children .row:nth-child(4) .col-xs-2, .participants-children .row:nth-child(5) .col-xs-2, .participants-children .row:nth-child(6) .col-xs-2{
    display: none;
}*/
/*↓новые bootstrap↓*/
.main .participants-children .col-md-1, .participants-children .col-sm-1, .participants-children .col-xs-1
{
    padding: 0px;
}

.main .participants-categories .list-group .col-md-12, .main .participants-categories .list-group .col-md-6{
    padding: 0px;
}

.main .list-group-item{
    /*margin-top: 3px;*/
    border-radius: 5px;
    /*background: #3676b9;*/
    border:none;
    padding: 5px 15px;
    text-align: center;
    min-height: 58px;
    color: #3676b9;
    font-weight: bolder;
    font-size: 14px;
}
.main .list-group-item:hover{
    cursor: pointer;
    border: 1px solid #3676b9;
    border-shadow: 1px 1px 2px black, 0 0 1em #b7d9ed;
}
.list-group a:hover{
    text-decoration: none;
}
.actor-info{
    display: none;
    position: absolute;
    top:70%;
    right:70%;
    background-color:white;
    z-index:1;
    padding:10px;
    border-radius:4px;
    font-weight:bold;
    min-width: 150px;
}
.actor-info p{
    padding:0;
    margin:0;
}
.actor-info hr{
    padding:0;
    margin:0;
    background:rgba(128, 128, 128, 0.35);
    height:1px;
}
.actor-link{
    position: relative;
}
.main .participants-all{
    text-align: center;
    margin-top:10px;
    
}
.main .participants-all a{
    font-weight: bolder;
}

/*↑↓новые bootstrap↑*/
/*↑участники↑*/

/*организаторы*/
/*.main .organizer-title{
    text-align: center;
    font-size: 20px;
    color: #b72504;
}
.main .organizer{
    height: 150px;
    border-radius: 20px;
    margin-top: 20px;
    line-height: 150px;
    text-align:center;
}
.main .organizer img{
    max-width: 100%;
    max-height: 100%;
}
.main .participants-all{
    text-align: center;
    margin-top:10px;
    
}
.main .participants-all a{
    font-weight: bolder;
}
.main .organizers-all{
    text-align: center;
    margin-top:10px;
}
.main .organizers-all a{
    font-weight: bolder;
}*/
/*↑организаторы↑*/
