/*.participants .content-title h1{
    text-align: center;
}*/
.participants .level{
    text-align: center;
}
.participants .patricipant{
    border-radius:15px;
}
.participants .patricipant:hover{
    background: rgba(166, 201, 240, 0.75);
    color: #336699;
    font-weight:bolder;
}
.participants .patricipant img{
    width: 100%;
}
.participants-list .row{
    margin-top: 10px;
}
.participants .page-navigation nav{
    text-align: center;
}
.participants .participants-list{
    margin-top: 40px;
}
.participants .page-navigation{
    margin-top: 20px;
}
.participants .span-black{
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}