.participant .participant-info{
	margin-top: 30px;
}
.participant .participant-info .main-photo{
	text-align: center;
}
.participant .participant-info img{
	max-width: 100%;
}
.participant .participant-info .pinfo-label{
	font-weight: bold;
}
.participant .participant-info .profile{
	font-size: 16px;
}
.participant .participant-info .article{
	font-size: 18px;
	font-family: Optima;
	text-align: justify;

	margin-top: 10px;
}